{% extends 'base.html.twig' %}

{% block title %}Admin - Bo_pack
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}
	{% set array = {
	'En cours d’utilisation': 'badge badge-info',
	'Perdu': 'badge badge-danger',
	'Non attribué': 'badge badge-light',
	}
	%}
	{% include '/admin/_navbar.html.twig' %}
	<div class="container">
		<h3 class="pb-4"><a class="pr-3" href="{{ path('admin_home') }}" >&#8249;</a></h3>
		<div class='row'>
			<div class="card" style="width:400px">
				<div class="card-body">
					<h4 class="card-title">{{ user.firstname | upper }} {{ user.lastname | capitalize }}</h4>
					<p class="card-text">BU : <strong>{{ user.bu | capitalize }}</strong></p>
					<p class="card-text">Email : <strong><a href="mailto:{{ user.email | lower }}">{{ user.email | lower }}</a></strong></p>
					<p class="card-text">Depuis le: <strong>{{ user.created_at |format_date(locale='fr') }}</strong></p>
					<p class="card-text">À propos: {{ user.about }}</p>

					<a href="{{ path('admin_edit_user' , {id: user.id} ) }}">
						<button class="btn btn-warning mb-5 text-right float-right">Modifier l'utilisateur</button>
					</a>
				</div>
			</div>
		</div>
		<hr />
		<div class="row bg-white rounded-lg shadow-lg p-3">
			<div class="col-12">
				<a href="{{ path('produit_new_user', {id: user.id}) }}">
					<button class="btn btn-primary mb-5 text-right float-right">Créer un produit pour
						{{ user.firstname}}
						{{user.lastname }}
					</button>
				</a>
				<h3>Produits de
					{{ user.firstname}}
					{{user.lastname }}</h3>
				<br>
				<table class="table bg-white shadow rounded-lg">
					<thead>
						<tr>
							<th>Type</th>
							<th>Nom</th>
							<th>Marque</th>
							<th>Modèle</th>
							<th>Emplacement</th>
							<th>État</th>
							<th>Dèrniere modification</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for produit in produits %}
							<tr>
								<td>{{ produit.getTypeProduit }}</td>
								<td>{{ produit.name }}</td>
								<td>{{ produit.brand }}</td>
								<td>{{ produit.model }}</td>
                            	<td><span class={% if produit.place == "Office" %}"badge badge-success"{% else %}"badge badge-warning"{% endif %}>{{ produit.place }}</span></td>
                            	<td><span class="{{ array[produit.status]}}"> {{produit.status}}</span></td>
								<td>{{ produit.last_modify }}</td>
								<td>
									<div class="dropdown">
										<button class="btn btn-sm  rounded-circle border" data-toggle="dropdown">
											<i class="fas fa-ellipsis-h point"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="{{ path('produit_edit', {id: produit.id}) }}">Editer
											</a>
											{{ include('produit/_delete_form.html.twig') }}
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock %}
