{% extends 'base.html.twig' %}

{% block title %}Admin - Incyte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}

    {% include '/admin/_navbar.html.twig' %}
    <div class="container">
        {% for message in app.flashes('sucess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
       
        <div class="row pt-5">
            <div class="col-12">
                <a href="{{ path('user_create') }}"><button class="btn btn-primary mb-4 float-right">Ajouter un utilisateur</button></a>
                <h3>Liste des utilisateurs</h3>
                <table class="table bg-white shadow-lg rounded-lg">
                    <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>BU</th>
                        <th>Date de création</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.bu }}</td>
                            <td>{{ user.created_at |format_date(locale='fr') }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm  rounded-circle border"  data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h point"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                           href="{{ path('admin_edit_user', {id: user.id}) }}"
                                        > Editer
                                        </a>
                                        {{ include('admin/user/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

