{% extends 'base.html.twig' %}

{% block title %}Congrès - Incyte{% endblock %}

{% block body %}
<body>
<header>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-right" style="position: absolute;right: 20px;top: 30px;"><img src="{{ asset('img/logo-bleu.png') }}" width="120" alt=""/></h1>
                    <div class="logo-app"><img src="{{ asset('img/logo-app.png') }}" width="130" alt=""/></div>
                    <div class="nom-event">{{ congres.name }}</div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="p-5"><img src="{{ asset('img/picto-refus.jpg') }}" style="width: 160px;" alt=""/></div>
                <h2 class="p-3 bold-OS">{{ refusedBy == 'customer'? 'Annuler' : 'Refuser' }} le rendez-vous</h2>
                <div class="p-3 content-accept">Vous avez souhaitez {{ refusedBy == 'customer'? 'annuler' : 'refuser' }} le rendez-vous, veuillez indiquer ci-dessous à votre contact le motif de votre {{ refusedBy == 'customer'? 'annulation' : 'refus' }}.</div>
                {% set refus = refusedBy == 'customer'? 'Valider votre annulation' : 'Valider votre refus' %}
                {% set refusMotif = refusedBy == 'customer'? 'Motif de l\'annulation ...' : 'Motif du refus ...' %}
                {{ form_start(form) }}
                        {{ form_widget(form.reasonCancel, { 'attr':{'placeholder': refusMotif} }) }}
                        {{ form_widget(form.submit, { 'label': refus }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% include 'congres/_footerML.html.twig' %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('modal') }}
<script>
    var modal_doc = document.getElementById("myModal_doc");

    function openModal(id) {
        var modal = document.getElementById(id);
        modal.style.display = "block";
    }
    function closeModal(id) {
        var modal = document.getElementById(id);
        modal.style.display = "none";
    }
</script>
{% endblock %}