{% extends 'base.html.twig' %}

{% block title %}Congrès - Incyte{% endblock %}

{% block body %}
    <header>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-right" style="position: absolute;right: 20px;top: 30px;"><img
                                    src="{{ asset('img/logo-bleu.png') }}" width="120" alt=""/></h1>
                        <div class="logo-app"><img src="{{ asset('img/logo-app.png') }}" width="150" alt=""/></div>
                        <div class="nom-event">{{ congres.name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                {% if eventStart == true %}
                    <div class="col-sm-12 col-lg-6" style="padding: 0;">
                        {% if code == true %}
                            <a href="{{ path('congres_documents', {id: congres.id}) }}">
                        {% endif %}
                        <div class="bloc-home-document"
                                {% if code != true %}
                                    onclick="openModal('myModal_doc')"
                                {% endif %}
                             id="btn_doc">
                            <h2 class="titre-home">Télécharger nos documents</h2>
                            <div class="texte-home">Retrouvez les documents disponibles sur notre stand en format
                                éléctronique.
                            </div>
                            <i class="fa fa-angle-right but-doc"></i></div>
                            {% if code == true %}
                                </a>
                            {% endif %}
                    </div>
                {% else %}
                    <div class="col-sm-12 col-lg-6" style="padding: 0;filter: grayscale(90%);">
                        <div class="bloc-home-document" id="btn_doc" onclick="openModal('toCome')">
                            <h2 class="titre-home">Télécharger nos documents</h2>
                            <div class="texte-home">Tous nos documents seront disponibles à l'ouverture du congrès.
                            </div>
                            <i class="fa fa-angle-right but-doc"></i>
                        </div>
                    </div>
                {% endif %}

                <div class="col-sm-12 col-lg-6" style="padding: 0;">
                        <a href="{{ path('congres_contact', {id: congres.id}) }}">
                        <div class="bloc-home-contact" id="btn_contact"><h2 class="titre-home">Prendre rendez-vous</h2>
                            <div class="texte-home">Prenez rendez-vous avec un membre de l'équipe Incyte.</div>
                            <i class="fa fa-angle-left but-contact"></i></div>
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <!-- BEGIN : Modal Pharma -->
    <div id="myModal_doc" class="modal1">
        <div class="modal-content-alert">
            <div class="close" id="close_doc" onclick="closeModal('myModal_doc')"></div>
            <div class="modal-body">
                <div>
                    <p class="titre-popin-alert">Télécharger nos documents</p>
                    <p class="content-popin-alert">Pour télécharger nos documents vous devez saisir le code de sécurité
                        disponible sur notre stand :</p>
                    {{ form_start(formSecurity) }}
                    {{ form_errors(formSecurity) }}

                    {{ form_row(formSecurity.code) }}

                    {{ form_row(formSecurity.submit, { 'label': 'Valider le code' }) }}
                    {{ form_end(formSecurity) }}
                </div>
            </div>
        </div>
    </div>
    <div id="toCome" class="modal1">
        <div class="modal-content-alert">
            <div class="close" id="close_doc" onclick="closeModal('toCome')"></div>
            <div class="modal-body">
                <div>
                    <p class="titre-popin-alert">Tous nos documents seront disponibles à l'ouverture du congrès</p>
                    <p class="content-popin-alert">Vous pouvez prendre rendez-vous avec un membre de l’équipe Incyte France.</p>
                </div>
            </div>
        </div>
    </div>
{% include 'congres/_footerML.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal') }}
    <script>
        var modal_doc = document.getElementById("myModal_doc");

        function openModal(id) {
            var modal = document.getElementById(id);
            modal.style.display = "block";
        }
        function closeModal(id) {
            var modal = document.getElementById(id);
            modal.style.display = "none";
        }
    </script>
{% endblock %}

