{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</div>
<div class="container">
	<div class="row bg-white">
		<div class="col-3">
			{{ form_row(form.product_name) }}
			{{ form_row(form.brand) }}
		</div>
		<div class="col-3">
			{{ form_row(form.place) }}
			{{ form_row(form.product_type) }}
		</div>
		<div class="col-3">
			{{ form_row(form.modele) }}
			{{ form_row(form.user) }}
		</div>
		<div class="col-3">
			{{ form_row(form.email) }}
			{{ form_row(form.bu) }}
		</div>
		<div class="col-3">
			{{ form_row(form.is_deleted) }}
		</div>
		<div class="offset-9 col-3">
			{{ form_row(form.save) }}
		</div>
	</div>
	{{ form_end(form) }}
	<br>
</div>
