{{ form_start(form) }}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</div>
<div class="container">
	<div class="row">
		{{ form_row(form.product_name) }}
		{{ form_row(form.brand) }}
		{{ form_row(form.place) }}
		{{ form_row(form.product_type) }}
		{{ form_row(form.modele) }}

		{{ form_row(form.user) }}
		{{ form_row(form.email) }}
		{{ form_row(form.bu) }}
		{{ form_row(form.save) }}
	</div>

</div>
{{ form_end(form) }}
