{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Qr_code</th>
                <th>Id_qr_code</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Status</th>
                <th>Add_date</th>
                <th>Last_modify</th>
                <th>Type</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.qrCode }}</td>
                <td>{{ produit.idQrCode }}</td>
                <td>{{ produit.brand }}</td>
                <td>{{ produit.model }}</td>
                <td>{{ produit.status }}</td>
                <td>{{ produit.addDate ? produit.addDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.lastModify ? produit.lastModify|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.type }}</td>
                <td>{{ produit.place }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
