{% extends 'base.html.twig' %}

{% block title %}Admin - Bo_pack
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}

	{% include '/admin/_navbar.html.twig' %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a href="{{ path('admin_home') }}">
				</a>
				<h3>{{ produit.name }}</h3>
				<br>
				<table class="bg-white shadow rounded-lg">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ produit.id }}</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>{{ produit.name }}</td>
						</tr>
						<tr>
							<th>Brand</th>
							<td>{{ produit.brand }}</td>
						</tr>
						<tr>
							<th>Model</th>
							<td>{{ produit.model }}</td>
						</tr>
						<tr>
							<th>Status</th>
							<td>{{ produit.status }}</td>
						</tr>
						<tr>
							<th>Add_date</th>
							<td>{{ produit.addDate ? produit.addDate|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Last_modify</th>
							<td>{{ produit.lastModify ? produit.lastModify|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Type</th>
							<td>{{ produit.type }}</td>
						</tr>
						<tr>
							<th>Place</th>
							<td>{{ produit.place }}</td>
						</tr>
					</tbody>
				</table>
				<img src='{{ '/uploads/qr_code/images/' ~ produit.id ~ '.png' }}' alt=''/>
				<a href="{{ path('produit_index') }}">back to list</a>

				<a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>

				{{ include('produit/_delete_form.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}
