{% extends 'base.html.twig' %}

{% block title %}Admin - Bo_pack
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}

	{% include '/admin/_navbar.html.twig' %}
	<div class="container">
	    <h3 class="pb-4"><a class="pr-3" href="{{ path('admin_home') }}" >&#8249;</a>Fiche produit</h3>
		<div class='row'>
			<div class="card" style="width:400px">
				<div class="card-body">
					<h4 class="card-title">{{ produit.type_produit }} {{ produit.name }}</h4>
					<p class="card-text">Attribué à : <strong>{{ produit.user.fullname }}</strong></p>
					<p class="card-text">BU : <strong>{{ produit.user.bu }}</strong></p>
					<p class="card-text">Marque: <strong>{{ produit.brand }}</strong></p>
					<p class="card-text">Emplacement : <strong>{{ produit.place }}</strong></p>
					<p class="card-text">Modèle: <strong>{{ produit.model }}</strong></p>
					<p class="card-text">Status: <strong>{{ produit.status | upper}}</strong></p>
					<p class="card-text">Ajouté le: {{ produit.addDate|date('Y-m-d H:i:s')}}</p>
					{% if produit.lastModify is not null %}
						<p class="card-text">Dernière modification: {{ produit.lastModify }}</p>
					{% endif %}
					<p><img src='{{ '/uploads/qr_code/images/' ~ produit.id ~ '.png' }}' alt=''/></p>

					<a href="{{ path('admin_produit_get_qr_code', {'id': produit.id}) }}"><button class="btn btn-success mb-5 text-right float-right">Imprimer QR Code</button></a>
					<a href="{{ path('produit_edit', {'id': produit.id}) }}"><button class="btn btn-warning mb-5 text-right float-right">Modifier le produit</button></a>

					{{ include('produit/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
