<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-left text-center">
    <a href="{{ path('admin_home') }}">
        <img class="mt-4" src="{{ asset('img/logo-blanc.png') }}" alt="" width="68">
    </a>
    {% set route =  app.request.get('_route') %}
    <a href="{{ path('admin_home') }}" class="calendar_icon {{ route == 'admin_home' ? 'active': ''}}"></a>
    <a href="{{ path('admin_categorie') }}" class="cat {{ route == 'admin_categorie' ? 'active': ''}}" style="background-image: url({{ asset('img/cat.svg') }})"  width="40"></a>
    <a href="{{ path('admin_logout') }}" class="logout" style="background-image: url({{ asset('img/logout.svg') }});top: 280px;"></a>

</nav>

