{% extends 'base.html.twig' %}

{% block title %}Admin - Bo_pack{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
    {% set array = {
    'En cours d’utilisation': 'badge badge-info',
    'Perdu': 'badge badge-danger',
    'Non attribué': 'badge badge-light',
    }
    %}
    {% include '/admin/_navbar.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('sucess') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ include('produit/_search_bar.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{{ path('produit_new') }}"><button class="btn btn-primary mb-5 text-right float-right">Créer un produit</button></a>
                <h3>Liste des produits</h3>
                <br>
                <table class="table bg-white shadow rounded-lg">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Nom</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                            <th>Utilisateur</th>
                            <th>Emplacement</th>
                            <th>État</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.getTypeProduit }}</td>
                            <td>{{ produit.name }}</td>
                            <td>{{ produit.brand }}</td>
                            <td>{{ produit.model }}</td>
                            <td>{{ produit.user.fullname }}</td>
                            <td><span class={% if produit.place == "Office" %}"badge badge-success"{% else %}"badge badge-warning"{% endif %}>{{ produit.place }}</span></td>
                            <td><span class="{{ array[produit.status]}}"> {{produit.status}}</span></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm  rounded-circle border"  data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h point"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                           href="{{ path('produit_show', {id: produit.id}) }}">Voir 
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('produit_edit', {id: produit.id}) }}">Editer
                                        </a>
                                        {% if produit.user is not null %}
                                            <a class="dropdown-item"
                                            href="{{ path('admin_produits_user', {id: produit.user.id}) }}">Utilisateur
                                            </a>
                                        {% endif %}
                                        {{ include('produit/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% set disabledAttr = 0 == totalProduits ? 'disabled' : '' %}
                <a href="{{ path('admin_produits_get_qr_codes') }}"><button class="btn btn-primary mb-5 text-right float-right" {{ disabledAttr }}>Obtenir QR Codes des produits</button></a>
            </div>
        </div>
    </div>

{% endblock %}
