{% extends 'base.html.twig' %}

{% block title %}Admin - Bo_pack{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}

    {% include '/admin/_navbar.html.twig' %}
    <div class="container">
    {{ include('produit/_search_bar.html.twig') }}
        <div class="row">
            <div class="col-12">
                <a href="{{ path('produit_new') }}"><button class="btn btn-primary mb-5 text-right float-right">Créer un produit</button></a>
                <h3>Liste des produits</h3>
                <br>
                <table class="table bg-white shadow rounded-lg">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Utilisateur</th>
                            <th>Date de création</th>
                            <th>Emplacement</th>
                            <th>Dernière modification</th>
                            <th>Marque</th>
                            <th>Modele</th>
                            <th>État</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.name }}</td>
                            <td>{{ produit.type_produit }}</td>
                            <td>{{ produit.user_id }}</td>
                            <td>{{ produit.add_date|format_date(locale='fr') }}</td>
                            <td>{{ produit.place }}</td>
                            <td>{{ produit.last_modify }}</td>
                            <td>{{ produit.brand }}</td>
                            <td>{{ produit.model }}</td>
                            <td>{{ produit.status }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm  rounded-circle border"  data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h point"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                           href="{{ path('produit_show', {id: produit.id}) }}">Voir 
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('produit_edit', {id: produit.id}) }}">Editer
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('admin_produits_user', {id: produit.id}) }}">Utilisateur
                                        </a>
                                        {{ include('produit/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('admin_produits_get_qr_codes') }}"><button class="btn btn-primary mb-5 text-right float-right">QR Codes de tous les produits</button></a>
            </div>
        </div>
    </div>

{% endblock %}

