{% extends 'base.html.twig' %}

{% block title %}Admin - Incyte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}

    {% include '/admin/_navbar.html.twig' %}
    <div class="container">
        {% for message in app.flashes('sucess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-6">
                <a href="{{ path('admin_create_catUser') }}"><button class="btn btn-primary mb-4 float-right">Ajouter une catégorie contact</button></a>
                <h3>Catégories contact</h3>
                <table class="table bg-white shadow-lg rounded-lg">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for catUser in catUsers %}
                        <tr>
                            <td>{{ catUser.name }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm  rounded-circle border"  data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h point"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                           href="{{ path('admin_catUser_reason', {id: catUser.id}) }}"
                                        >Editer
                                        </a>
                                        {{ include('admin/categories/_delete_formCatUser.html.twig') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <a href="{{ path('admin_create_catDoc') }}"><button class="btn btn-primary mb-4 float-right">Ajouter une catégorie document</button></a>
                <h3>Catégorie document</h3>
                <table class="table bg-white shadow-lg rounded-lg">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for catDoc in catDocs %}
                        <tr>
                            <td>{{ catDoc.name }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm  rounded-circle border"  data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h point"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                           href="{{ path('admin_catDoc_reason', {id: catDoc.id}) }}"
                                        >Editer
                                        </a>
                                    {{ include('admin/categories/_delete_formCatDoc.html.twig') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <a href="{{ path('admin_create_reason') }}"><button class="btn btn-primary mb-4 float-right">Ajouter un motif</button></a>
                <h3>Motif de rendez-vous</h3>
                <table class="table bg-white shadow-lg rounded-lg">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reason in reasons %}
                        <tr>
                            <td>{{ reason.name }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm  rounded-circle border"  data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h point"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"
                                           href="{{ path('admin_edit_reason', {id: reason.id}) }}"
                                        >Editer
                                        </a>
                                        {{ include('admin/categories/_delete_formReason.html.twig') }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

