{% extends 'base.html.twig' %}

{% block title %}Admin - Incyte{% endblock %}
{% block body %}
<header>
    <div style="background-color: #34467e; min-height: 140px; border-bottom-left-radius: 20px; display: inline-block; width: 100%;">
        <div class="wrapper" style="width: 100%;">
            <div id="month">
                {# List days #}
                {% set difference = date(congres.endDate).diff(date(startDate)) %}
                {% set leftDays = difference.days + 1 %}
                {% set date = startDate %}
                {% set firstDay = startDate|date('d') %}
                {% for i in 1..leftDays %}
                    <span class="text-{{ i }}" style="color: #FFF; width: 100%;text-align: center;top:20px;">
							<div style="font-size: 5rem; line-height: 4rem;">
                                {{ date|date('d') }}
                            </div>
							<div style="font-family: OpenSans-Regular;">
								{{ date|format_date('medium', locale='fr')|slice(2) }}
							</div>
                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 mb-2 text-left">
                                            <div class="bold-OS text-dark  pt-5">VOS RENDEZ-VOUS</div>
                                            <p class="text-black-50 pb-4" style="font-size: 0.8rem">Cliquez sur un créneau pour organiser une rendez-vous</p>
                                            {% for meeting in meetings %}
                                                {% if meeting.startDate|date('d') == date|date('d') %}
                                                    {% if meeting.isOpen == true and meeting.isReserved == false %}
                                                        <div class="detail-rdv libre" onclick="modalCarousel('modalForm-'+{{ meeting.id }})">
                                                        <div class="hours">{{ meeting.startDate|date('H:i') }} - {{ meeting.endDate|date('H:i') }}</div>
                                                        <div class="txt" style="text-transform: none;">Pas de rendez-vous</div>
                                                    </div>
                                                {% elseif meeting.isOpen == false and meeting.isReserved == true %}
                                                        <div class="detail-rdv occupe">
                                                        <div class="hours">{{ meeting.startDate|date('H:i') }} - {{ meeting.endDate|date('H:i') }}</div>
                                                        <div class="nom">
                                                            {{ meeting.customer.civility }} {{ meeting.customer.lastname }} -
                                                            <motif class="motif" style="text-transform: none;"> {{ meeting.reason.name }}</motif>
                                                        </div>
                                                    </div>
                                                {% elseif meeting.isOpen == false and meeting.isReserved == false %}
                                                        <div class="detail-rdv inactif">
                                                        <div class="hours">{{ meeting.startDate|date('H:i') }} - {{ meeting.endDate|date('H:i') }}</div>
                                                        <div class="nom">Créneau non disponible</div>
                                                    </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </section>
						</span>


                    {% set date = date|date_modify("+1 day") %}
                {% endfor %}
            </div>
            <div id="nav" style="display: inline-block; float: right; font-size: 1.5rem;">
                <a href="#left" class="left"
                   style="color: #FFF; text-decoration: none; font-size: 3rem;position: absolute; top: 35px;left: 20px;"><i
                            class="fa fa-angle-left"></i>&nbsp;</a>
                <a href="#right" class="right"
                   style="color: #FFF; text-decoration: none; font-size: 3rem;position: absolute; top: 35px;right: 20px;">&nbsp;<i
                            class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</header>
{% for meeting in meetings %}
<!-- BEGIN POPPIN FORM  -->
<div id="modalForm-{{ meeting.id }}" class="modal1">
    <div class="modal-content" style="display: block;" id="form-{{ meeting.id }}">
        <div class="close" id="close_form"
             onclick="closeModal('modalForm-'+{{ meeting.id }});"></div>
        <form id="form-{{ meeting.id }}" action="{{ path('planning_user_send') }}" method="post">
                <div class="modal-body" id="form-content{{ meeting.id }}"
                     style="margin-top: 60px;">
                        <div class="bold-OS pb-2">MOTIF DU RENDEZ-VOUS</div>
                        <select class="form-control w-100 mb-3" name="reason">
                            {% for reason in user.reasons %}
                                <option value="{{ reason.id }}">
                                    {{ reason.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="bold-OS pb-2">INFORMATIONS PERSONNELLES</div>
                        <select class="form-control w-100 mb-3" name="civility">
                            <option>Civilité*</option>
                            <option>Professeur</option>
                            <option>Docteur</option>
                            <option>Monsieur</option>
                            <option>Madame</option>
                        </select>
                        <input type="hidden" name="meeting"
                           class="form-control w-100 mb-3" value="{{ meeting.id }}" required>
                        <input type="text" placeholder="Nom*" name="lastname"
                               class="form-control w-100 mb-3" required>
                        <input type="text" placeholder="Prénom*" name="firstname"
                               class="form-control w-100 mb-3" required>
                        <input type="email" placeholder="Email*" name="mail"
                               class="form-control w-100 mb-3" required>
                        <input type="text" placeholder="Téléphone" name="phone"
                               class="form-control w-100 mb-3">
                        <input type="text" placeholder="Lieu d'exercice" name="localisation"
                               class="form-control w-100 mb-3">
                        <div class="mention">*champs obligatoires</div>
                    <input class="but-popin-alert" type="submit" value="Valider le rendez-vous" id="submit-{{ meeting.id }}">
                </div>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
    {{ encore_entry_script_tags('modal') }}
    <script>
        function modalCarousel(id) {
            var modal = document.getElementById(id);
            modal.style.display = "inline-block";
        }

        function closeModal(id) {
            var modal = document.getElementById(id);
            modal.style.display = "none";
        }
    </script>
{% endblock %}

